<app-posts></app-posts>
 <!-- <app-buscador>
</app-buscador> 
 <ul>
    <li *ngFor="let element of data">
      <div class="card" (click)="onRecordClick(data)">
        <h2>{{ element.recordData.dc_title }}</h2>
        <ul>
          <li>{{ element.recordData.dc_creator }}</li>
          <li>{{ element.recordData.dc_subject }}</li>
          <li>{{ element.recordData.dc_date }}</li>
          <li>{{ element.recordData.dc_type }}</li>
          <li>{{ element.recordData.dc_identifier }}</li>
        </ul>
      </div>
    </li>
  </ul>  -->

